<div class="container">
    <img src="/assets/sparetime_logo.png" alt="sparetime Logo" class="logo" (click)="navigateToHome()" />
    <div class="profile-icon" (click)="navigateToSettings()">
        <div class="avatar"></div>
        <span>Profile</span>
    </div>
      
    <h1>Recommended Content</h1>
  
    <div class="video-panel">
        <div class="video-container">
            <div class="video-thumbnail" (click)="onVideoClick(vidId1)">
                <img [src]="'https://img.youtube.com/vi/' + vidId1 + '/0.jpg'" alt="Video Thumbnail">
              </div>
        </div>
    
        <div class="video-container">
            <div class="video-thumbnail" (click)="onVideoClick(vidId2)">
                <img [src]="'https://img.youtube.com/vi/' + vidId2 + '/0.jpg'" alt="Video Thumbnail">
              </div>
        </div>
    </div>

    <div class="video-panel">
        <div class="video-container single">
            <div class="video-thumbnail" (click)="onVideoClick(vidId3)">
                <img [src]="'https://img.youtube.com/vi/' + vidId3 + '/0.jpg'" alt="Video Thumbnail">
              </div>
        </div>
    </div>
</div>
